/* основной цвет текста/SLATE /#434455/ */
/* вторичный цвет текста//NAVY BLUE/#2E2F42;*/
/* белый WHITE color: #FFFFFF;*/
/* Accent Синий IRIS color: #4D5AE5;*/
/* футер CLOUD color: #F4F4FD; */
/* основной фон background: #E5E5E5; */
/* вторичный фон NAVY BLUEbackground #2E2F42*/

:root {
  /* Fonts */
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* Colors */
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-text-color: #4d5ae5;
  --hover-text-color: #404bbf;
  --cloud-text-color: #f4f4fd;
  --white-text-color: #ffffff;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #2e2f42;
  --section-bg-color: #ffffff;
  --cloud-bg-color: #f4f4fd;
  --accent-bg-color: #4d5ae5;
  --hover-bg-color: #404bbf;
}
body {
  background-color: var(--section-bg-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Title1 */
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--white-text-color);
  letter-spacing: 0.02em;
  font-weight: 700;
}
/* Title2 */
.title {
  line-height: 1.11;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* Title3 */
.section-title {
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}
/* Text */
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
}
/* Site-nav */
.logo {
  color: var(--accent-text-color);
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-part {
  color: var(--title-text-color);
}
.logo-part-light {
  color: var(--cloud-text-color);
}
.list {
  list-style: none;
}
.list-item {
  background-color: var(--section-bg-color);
}
.site-nav .link {
  line-height: 1.5;
  color: var(--title-text-color);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--hover-text-color);
}
.link {
  text-decoration: none;
}
/* Address */
.address {
  font-style: normal;
}
.contacs {
  color: var(--primary-text-color);
}
.contacs:hover,
.contacs:focus {
  color: var(--hover-text-color);
}
/* Hero */
.hero {
  background-color: var(--secondary-bg-color);
}
/* Section */
.section {
  background-color: var(--section-bg-color);
}
.section-accent {
  background-color: var(--cloud-bg-color);
}
.section-secondary {
  background-color: var(--secondary-bg-color);
}

/* Button */
.button {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  cursor: pointer;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button.primary {
  color: var(--white-text-color);
  background-color: var(--accent-bg-color);
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--hover-bg-color);
}
.button.secondary {
  color: var(--accent-text-color);
  background-color: var(--cloud-bg-color);
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--white-text-color);
  background-color: var(--hover-bg-color);
}
/* Footer */
.footer-text {
  color: var(--cloud-text-color);
}
.footer-bg {
  background-color: var(--secondary-bg-color);
}
